body {
    background-color: rgb(177, 216, 231);
}

h1 {
    font-size: 40px;
    font-family: 'Fascinate Inline', cursive;
    color: rgb(10, 10, 75);
}

p {
    font-family: 'Overlock', cursive;
    font-size: 20px;
    color: rgb(8, 80, 109);
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 70% 25%;
    grid-template-areas: 
    "header header header"
    "side bio bio"
    "socials bio bio"
    ;
}

.side {
    grid-area: side;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}

.socials {
    grid-area: socials;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.socials p {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(20px, 25px);
}

.bio {
    grid-area: bio;
    padding: 50px;
    width: 80%;
    transform: translateY(-30px);
}

.card {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255, 251, 251, 0.8);
    border-radius: 50%;
    transform: translateY(-10px);
    color: rgb(8, 80, 109);
}



.bio h1 {
    font-size: 60px;
}

.bio p {
    transform: translateY(-30px);
}

h2 {
    font-family: 'Overlock', cursive;
    font-size: 19px;
    padding: 11px;
    text-align: center;
    transform: translateY(10px)
}

.header {
    grid-area: header;
}

.header h1 {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 20px;
    border-bottom: 5px solid rgba(255, 251, 251, 0.8);
}

#pic1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transform: translate(20px,20px)
}

.below {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(-20px);
}